@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Acesso Restrito";
}

<section id="acesso-restrito">
    <div class="text-center">
        <h1 class="display-4">Acesso Restrito!</h1>
        <img src="~/img/stop.jpg" alt="Acesso Restrito"/>
        <br />
        <p>Ops, você não tem permissão para acessar esta função, <a asp-action="Index" asp-controller="Home">Clique aqui para voltar</a></p>
    </div>
</section>