@model TarefaModel
@{
    ViewData["Title"] = "Apagar tarefa";
}

<section id="excluir-tarefa">
    <div class="text-center">
        <h3 class="display-6">Excluir @Model.DescricaoResumo ?</h3>
    </div>
    <br />
    <div class="d-grid gap-2">
        <a class="btn btn-outline-danger btn-block" role="button" asp-controller="Tarefa" asp-action="Apagar" asp-route-id="@Model.Id">Apagar</a>
        <a class="btn btn-outline-success btn-block" role="button" asp-controller="Tarefa" asp-action="Index">Cancelar</a>
    </div>
</section>